* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 1px solid yellow;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
